@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
  width: 100%;
}

/* 基本設定
===================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #FFF;
  color: #001F3F;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  line-height: 1.45;
  font-weight: 400;
  letter-spacing: 0.8px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.inner {
  width: 95%;
  max-width: 1120px;
  margin: 0 auto;
}

.ttl {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

.subttl {
  color: #58607b;
  text-align: center;
}


.txt {
  font-size: 1.6rem;
  color: #6F6F6F;
  line-height: 2;
}

/* header
===================================== */
.header {
  width: 100%;
  padding: 25px 0;
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #001F3F;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .header {
    padding: 15px 0;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header-inner {
    visibility: hidden;
  }
}

.header-logo a {
  font-size: 3rem;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-logo a:hover {
  color: #FF7F00;
}

/* drawer
===================================== */
.drawer-icon {
  z-index: 100;
  position: fixed;
  top: 30px;
  right: 10px;
}
@media (min-width: 768px) and (max-width: 1180px) {
  .drawer-icon {
    display: none;
  }
}
@media (min-width: 1181px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-active .drawer-icon {
  top: 45px;
}
.drawer-icon.is-active .drawer-bar1 {
  top: 5px;
  left: 0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.drawer-icon.is-active .drawer-bar2 {
  top: 5px;
  left: 0;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.drawer-bars {
  width: 90px;
  height: 20px;
  position: relative;
}

.drawer-bar1,
.drawer-bar2 {
  position: absolute;
  width: 70px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.drawer-bar1 {
  top: 0;
}

.drawer-bar2 {
  top: 14px;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.drawer-content {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 50px;
  font-size: 24px;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  -webkit-transition: -webkit-transform 0.6s ease 0s;
  transition: -webkit-transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
}
.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 1181px) {
  .drawer-content {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1180px) {
  .drawer-content {
    display: none;
  }
}

.drawer-items li:not(:first-child) {
  margin-top: 32px;
}
.drawer-items li a {
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.drawer-items li a:hover {
  color: #FF7F00;
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #001F3F;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}
.drawer-background.is-active {
  visibility: visible;
  opacity: 0.8;
}

/* gnav
===================================== */
.gnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gnav-item:not(:last-child) {
  margin-right: 35px;
}
.gnav-item a {
  font-size: 1.6rem;
  color: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.gnav-item a:hover {
  color: #FF7F00;
}

/* hero
===================================== */
.hero {
  background: url(../img/portfolio-hero.png) rgba(0, 0, 0, 0.4) center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.hero-ttl {
  font-size: 5rem;
  color: #FFF;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: 700;
}
.hero-ttl strong {
  color: #FF7F00;
}
@media (max-width: 767px) {
  .hero-ttl {
    font-size: 4rem;
  }
}

.hero-subttl {
  font-size: 2.5rem;
  color: #FFF;
  font-weight: 500;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .hero-subttl {
    font-size: 2rem;
  }
}

.btn {
  display: inline-block;
  margin-top: 40px;
  color: #FF7F00;
  padding: 10px 20px;
  background: #001F3F;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  color: #FFF;
  background: #FF7F00;
}
@media (max-width: 767px) {
  .btn {
    font-size: 1.6rem;
  }
}

/* about
===================================== */
.about {
  margin: 145px 0 100px;
}
@media (max-width: 767px) {
  .about {
    margin: 100px 0 45px;
  }
}

.about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-left {
  width: 70%;
}
@media (max-width: 767px) {
  .about-left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (min-width: 768px) and (max-width: 1180px) {
  .about-left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about-wrapper {
  text-align: center;
}

.about-name {
  margin-top: 25px;
}
.about-name strong {
  font-size: 2.5rem;
}

.about-txt {
  margin: 25px 0;
}

.about-list {
  margin-top: 25px;
  font-size: 1.8rem;
  line-height: 2;
  color: #58607b;
}

/* responsive
===================================== */
.about-res {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .about-res {
    margin: 15px 0 15px;
    font-size: 1.6rem;
    display: block;
    margin: 25px auto 0;
  }
}

.about-res_img {
  width: 300px;
}
@media (max-width: 767px) {
  .about-res_img {
    margin: 0 auto;
  }
}

.about-res_list {
  text-align: left;
  font-size: 1.8rem;
  line-height: 2;
  color: #58607b;
  margin: 100px 0 0 30px;
}
@media (max-width: 767px) {
  .about-res_list {
    margin: 15px auto 15px;
    font-size: 1.6rem;
    width: 300px;
  }
}

.about-res_item i {
  color: #FF7F00;
  width: 16px;
}
.about-res_item label {
  color: #001F3F;
  font-weight: bold;
  margin-left: 15px;
}

/* service
===================================== */
.service {
  padding: 45px 0 100px;
  font-size: 1.6rem;
  background: #F9F9F9;
}

.service-inner {
  text-align: center;
}

.service-wrapper {
  margin-top: 65px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .service-wrapper {
    margin-top: 45px;
  }
}

.service-box {
  padding: 40px 30px 30px 30px;
  background: #FFF;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.service-box svg {
  fill: #FF7F00;
  width: 45px;
  height: 45px;
}

.service-icon {
  width: 45px;
  height: 45px;
  margin-bottom: 15px;
}

.service-box_ttl {
  font-size: 2rem;
  margin-top: 15px;
}

.service-box_txt {
  color: #6F6F6F;
  text-align: left;
  margin-top: 15px;
  line-height: 2;
}

.service-btn {
  margin-top: 65px;
  text-align: center;
}

/* portfolio
===================================== */
.portfolio {
  margin: 145px 0 100px;
}
@media (max-width: 767px) {
  .portfolio {
    margin: 100px 0 45px;
  }
}

.portfolio-wrapper {
  margin-top: 65px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .portfolio-wrapper {
    margin-top: 25px;
  }
}

.portfolio-box {
  overflow: hidden;
}
.portfolio-box img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.portfolio-box img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}



.portfolio-atention {
  font-size: 10px;
  text-align: center;
}

.portfolio-atention_a {
  font-size: 14px !important;
  cursor: pointer !important;
}

/* skill
===================================== */
.skill {
  padding: 45px 0 100px;
}

.skill-wrapper {
  text-align: center;
  margin-top: 25px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.skill-box {
  margin-top: 45px;
}
.skill-box i {
  color: #FF7F00;
}
.skill-box p {
  font-size: 1.8rem;
  margin-top: 5px;
}

/* contact
===================================== */
.contact {
  margin: 145px 0 100px;
}
@media (max-width: 767px) {
  .contact {
    margin: 100px 0 45px;
  }
}

.contact-txt {
  text-align: center;
}

/* form
===================================== */
.form {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  padding: 60px;
}
@media (max-width: 767px) {
  .form {
    margin: 25px auto;
    padding: 0;
  }
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .form-row {
    display: block;
  }
}
.form-row:not(:first-child) {
  margin-top: 30px;
}

.form-label {
  width: 161px;
  padding-top: 5px;
}
@media (max-width: 767px) {
  .form-label {
    width: 100%;
  }
}
.form-label label {
  font-weight: 700;
  font-size: 1.6rem;
}
.form-label label.is-required {
  display: inline-block;
  position: relative;
}
.form-label label.is-required::after {
  position: absolute;
  content: "必須";
  top: calc(100% + 2px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #E81919;
  text-align: center;
  border-radius: 4px;
  padding: 3px 8px;
  line-height: 1;
}
@media (max-width: 767px) {
  .form-label label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 46px;
  }
}

.form-input {
  width: calc(100% - 161px);
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .form-input {
    width: 100%;
  }
}
.form-input [type=text],
.form-input [type=text-kana] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 12px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  outline: none;
}
.form-input [type=email] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 12px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  outline: none;
}
.form-input select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  padding: 12px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  outline: none;
}
@media (max-width: 767px) {
  .form-input select {
    width: 100%;
  }
}
.form-input textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 12px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  outline: none;
  height: 240px;
  resize: none;
}
@media (max-width: 767px) {
  .form-input textarea {
    width: 100%;
  }
}
.form-input [type=radio] {
  display: none;
  outline: none;
}
.form-input span {
  display: inline-block;
  padding-left: 26px;
  margin-right: 36px;
  position: relative;
}
@media (max-width: 767px) {
  .form-input span {
    margin-bottom: 8px;
  }
}
.form-input span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  border-radius: 50%;
  background: #fff;
}
.form-input span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #FF7F00;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}
.form-input [type=radio]:checked + span::after {
  display: block;
}

.radio {
  padding-top: 5px;
}

.form-check {
  margin-top: 63px;
  text-align: center;
}
@media (max-width: 767px) {
  .form-check {
    margin-top: 32px;
  }
}
.form-check [type=checkbox] {
  display: none;
}
.form-check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}
@media (max-width: 767px) {
  .form-check span {
    padding-left: 28px;
  }
}
.form-check span a {
  font-weight: 700;
}
.form-check span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: 1px solid #707070;
}
.form-check span::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: transparent url(../img/check-solid.svg) no-repeat center center/contain;
  display: none;
}
.form-check [type=checkbox]:checked + span::after {
  display: block;
}

.form-button {
  margin-top: 35px;
  text-align: center;
}
.form-button [type=button] {
  display: inline-block;
  background: #f4f4f4;
  width: 304px;
  height: 56px;
  font-weight: 700;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 31, 63, 0.16);
          box-shadow: 0 3px 6px rgba(0, 31, 63, 0.16);
  font-family: inherit;
  font-size: 16PX;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .form-button [type=button] {
    width: 100%;
  }
}
.form-button [type=button].active {
  background: #001F3F;
  color: #FF7F00;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form-button [type=button].active:hover {
  background: #FF7F00;
  color: #fff;
}

.form-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}
.form-message.-error {
  color: #f00;
}

/* footer
===================================== */
.footer {
  text-align: center;
  margin: 25px 0;
}
